$color-1: #f2a60d; // Orange - accent color
$color-2: #173753; // Dark Blue
$color-3: #5ec0eb; // light blue
$color-4: #000000; // black
$color-5: #ffffff; // white

// additional colors

$success: #0c4403; // green
$alert: #ba1200; // red